.createpost{
    width: 100%;
    background-color: white; 
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 30px;
    box-shadow: 4px 2px 10px #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.createposTop{
    display: flex;
    align-items: center;
    flex: 1;
}

.createposTop form{
    padding: 10px;
   background-color: whitesmoke ;
   border-radius: 20px;
   margin-left: 10px;
    flex: 1;
}

.createposTop form input{
   width: 100%;
   background-color: transparent;
   border: 0;
   outline: none;
}

.createposBottom{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    margin-top: 15px;
}

.messengeroption{
display: flex;
align-items: center;
padding: 5px 20px ;
border-radius: 20px;
margin-top: 10px;
cursor: pointer;
}
.messengeroption:hover{
    background-color: whitesmoke;
}
.messengeroption p{
    margin-left: 10px;
}

.modal_popup{
    top: 50%;
    background-color: #fff;
    width: 500px;
    margin: 0px auto;
    position: relative;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 10px;

}
.modal_heading{
    text-align: center;
    border-bottom: 1px solid lightgray;
    height: 40px;

}

.modal_heading .MuiIconButton-root{
position: absolute;
top: 0px;
right: 5px;
}
.modalHeader_top{
   display: flex; 
   align-items: center  ;
   padding: 15px 0;
}
.modalHeader_top h5{
 margin-left: 10px;
 }

 .modalbody textarea{
width: 100%;
min-height: 100px;
border: 0;
font-size: 25px;
outline: 0;
padding-top: 10px 0;
letter-spacing: 1px;
font-family: sans-serif;


 }

 .modal_footer{
    display: flex; 
    align-items: center  ;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0px 10px;
 }
 .post_submit{
    width: 100%;
    background-color: #2391Fa;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0px;
    outline: 0px;
    font-size: 16px;
    cursor: pointer;
 }