.post{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 4px 2px 10px #ccc;
}
.post_top{
    display: flex;
    justify-content: space-between;
 
}

.post_topLeft{
    display: flex;
    align-items: center;
 
}
.post_info{
    margin-left: 10px;
}
.post_info p{
    font-size: 12px;
    display: flex;
    align-items: center;
}
.post_info svg{
    font-size: 12px;
    margin-left: 5px;
}
.post_middle p{
    margin: 20px 0;
}
.post_middle img{
    width: 100%;
}

.post_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    border-top: 1px solid lightgrey;
    margin-top: 10px;
    padding-top: 10px;
}
.post_bottomOptions{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.post_bottomOptions p{
    margin-left: 5px;
}